<div class="jumbotron">
  <div class="row">

    <div class="col-md-7">
      <h1>CenturyLink Field Crime</h1>
    </div>

    <div class="col-md-5">
      <h2>Technologies</h2>
      <ul>
        <li>
          Google Maps JavaScript API
        </li>
        <li>
          D3.js for visual representation of crime density.
        </li>
      </ul>
    </div>

  </div>
</div>
