<div class="jumbotron">
  <div class="row">

    <div class="col-md-7">
      <h1>CenturyLink Field Crime</h1>
      <p>
        Hi boys. I'm Tina. It's an erotic friend fiction story that I just wrote.
        I hope you like it, because you're all in it. It's called 'Buttloose.'
      </p>
    </div>

    <div class="col-md-5">
      <h2>Technologies</h2>
      <ul>
        <li>
          Google Maps JavaScript API
        </li>
        <li>
          D3.js for visual representation of crime density.
        </li>
      </ul>
    </div>

  </div>
</div>
